<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to MedTrackr!</title>
  </head>
  <body>
    <h2>Hi <%= userEmail %>,</h2>
    <p>Thank you for signing up with <strong>MedTrackr</strong>!</p>
    <p>We’re excited to have you on board.</p>
  </body>
</html>
